<!DOCTYPE html>
<html lang="en">
    <%- include('./global/header') -%>
  <body>
      <%- include('./global/nav') -%>
      <div id="contenedor" class="container">

          <%- include('./examples/table') -%>
          <%- include('./examples/form') -%>
          <%- include('./examples/modal') -%>
          <%- include('./examples/actEjemplo.ejs') -%>
          <%- include('./examples/warning') -%>

      </div>
      <script type="application/javascript" src="/public/js/examples.js"></script>
  </body>
</html>